.addPost{
    display: flex;
    flex-direction: column;
    margin-right: 280px;
}

.addPost textarea{
    width: 480px;
    height: 50px;
    resize: none;
    background: #5D5D5D;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
}

.btnAdd{
    width: 100px;
    height: 25px;
    background: #7B68EE;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 380px;
    margin-bottom: 5px;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #5D5D5D;
    border-radius: 30px;
    border-color: #7F7F7F;
    border-style: solid;
    padding: 5px;
    width: 500px;
}

@media (hover:hover) {
    
    .btnAdd:hover{
        color: white;
        background-color: #9587EA;
    }
    .btnAdd:active{
        color: white;
        background-color: #AAA1E7;
    }
    }

.logoPost{
    background: #5D5D5D;
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    margin-top: 10px;
    border-color: #7F7F7F;
    border-style: solid;
    color: white;
}

.posts{
    background: #5D5D5D;
    height: 50%;
    width: 500px;
    border-radius: 30px;
    border-color: #7F7F7F;
    border-style: solid;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
