.header {
    grid-area: h;
    background: #DA70D6;
}
.header img{ /* если в нашем header лежит картинка, то сделай ей размер такой
                (данные параметры будут присваиваться всем картинкам лежащих в header: */
    width: 50px;
}
